[user]
	name = Bryan Márquez
	email = 69647237+BryanMarqz@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/bryanmarquez/.gitignore_global
	editor = vim
[color]
	ui = auto
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
